:root{
    --blue: #124076;
    --pink: #D6B7B5;
    --fon: #D4C6BD;
    --white: #F5F0ED;
    --red: #f96400;
    --black: #45474B;
    --yellow: #dea300;
    --background: linear-gradient(to right bottom, #d4c6bd, #b9a4a4, #968591, #6b6b7d, #3d5361);
    --gradient: linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
    --shadow: 0px 23px 21px -8px rgba(93, 101, 129, 0.25);
    --new-grad: linear-gradient(225deg, hsla(26, 100%, 97%, 1) 25%, hsla(245, 67%, 93%, 1) 100%);
  }
  .banner-heading{
    color: rgb(196, 54, 3);
  }
.left-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    flex-direction: column;
    width: 40%;
}
.banner-pic{
    width: 45rem;
    height: 30rem;
    border: transparent;
    border-radius: 50%;
  }
  .right-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  .banner{
    padding-top: 7rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .button{
    border: 1px solid blue;
    font-size: 1.1rem;
    background-color: blue;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
  }
  input{
    margin: 5px;
    outline: none;
    border: none;
    font-size: 1.2rem;
  }
  .plus{
    font-size: 2rem;
    color: var(--yellow);
    margin-left: 0.2rem;
  }

  .stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--blue);
  }

  .search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.5rem;
  }

  @media (max-width: 300px){
    .banner{
      flex-direction: column;
      margin-top: 16rem;
      margin-bottom: 15rem;
    }
    .banner-pic{
      /* display: none; */
      border-radius: 1rem 0 0 1rem;
      width: 13rem;
      height: 10rem;
    }
    .left-container{
      width: 100% !important;
    }
    .right-container{
      width: 100%;
    }
    h1{
      font-size: 2rem;
    }
    h6{
      font-size: 1.1rem;
    }
    .stats{
      flex-direction: column;
    }
    .search-bar{
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid rgba(120, 120, 120, 0.374);
    }
    input{
      width: 10rem;
      border: none;
      margin-right: 1rem;
    }
    .button{
      font-size: 1.1rem;
      padding: 6px;
      width: 5rem;
    }
  }

  @media (min-width: 300px) and (max-width: 400px){
    .banner{
      flex-direction: column;
      margin-top: 10rem;
      margin-bottom: 12rem;
    }
    .location{
      display: none;
    }
    .banner-pic{
      border-radius: 2rem;
      width: 18rem;
      height: 13rem;
      /* margin-right: 10px !important; */
    }
    .left-container{
      width: 100% !important;
    }
    .right-container{
      width: 100%;
    }
    h1{
      font-size: 2rem;
    }
    h6{
      font-size: 1.1rem;
    }
    .stats{
      flex-direction: column;
    }
    .search-bar{
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid rgba(120, 120, 120, 0.374);
    }
    input{
      width: 10rem;
      border: none;
      margin-right: 1rem;
    }
    .button{
      font-size: 1.1rem;
      padding: 6px;
      width: 5rem;
    }
  }


  @media (min-width: 400px) and (max-width: 700px){
    .banner{
      flex-direction: column;
      margin-top: 6rem;
      margin-bottom: 10rem;
    }
    .location{
      display: none;
    }
    .banner-pic{
      border-radius: 2rem;
      width: 20rem;
      height: 13rem;
    }
    .left-container{
      width: 100% !important;
    }
    .right-container{
      width: 100%;
    }
    h1{
      font-size: 2rem;
    }
    h6{
      font-size: 1.1rem;
    }
    .stats{
      flex-direction: column;
    }
    .search-bar{
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid rgba(120, 120, 120, 0.374);
    }
    input{
      width: 100%;
      border: none;
      margin-right: 1rem;
    }
    .button{
      font-size: 1.2rem;
      padding: 10px;
      width: 5rem;
    }
  }

  @media (min-width: 700px) and (max-width: 1000px){
    .banner{
      flex-direction: column;
      margin-top: 6rem;
      margin-bottom: 10rem;
    }
    .banner-pic{
      border-radius: 2rem;
      width: 40rem;
      height: 23rem;
    }
    .left-container{
      width: 100% !important;
    }
    .right-container{
      width: 100%;
    }
    h1{
      font-size: 2.5rem;
    }
    h6{
      font-size: 1.4rem;
    }
    .stats{
      flex-direction: column;
    }
    .search-bar{
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid rgba(120, 120, 120, 0.374);
    }
    input{
      width: 100%;
      border: none;
      margin-right: 1rem;
    }
    .button{
      font-size: 1.1rem;
      padding: 6px;
      width: 5rem;
    }
  }

  @media (min-width: 1000px){
    .banner-pic{
      margin-top: 5rem;
      margin-bottom: 0 !important;
      width: fit-content;
      height: fit-content;
      max-width: 34rem;
      max-height: 30rem;
      border-radius: 3rem;
    }
  }